/* Reset básico */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background:#4D869C;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    padding: 1rem;
}

main {
    padding: 2rem;
    text-align: center;
}

#home {
    background: #EEF7FF;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#pesquisa {
    margin-bottom: 2rem;
}

#pesquisa form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#pesquisa input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

#pesquisa button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#pesquisa button:hover {
    background-color: #555;
}

.book-gallery {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.book-gallery figure {
    width: 150px;
    transition: transform 0.3s;
}

.book-gallery figure:hover {
    transform: scale(1.1);
}

.book-gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-gallery figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}

footer {
    background: #4D869C;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

